[2020-12-17 16:35] Tejeev opened #6 "[RFE] Project Categories"
# Request for Enhancement
### What
Categories of projects so that the dashboard can show just the projects of the desired context.

### Details
I'm looking for a way to add my own `Projects` tabs to the dashboard so I can organize the projects by context/category (work, home, garden, etc).
What might be the best way to go about this?  I was thinking of making copies of `$:/plugins/nico/projectify/

[2020-12-17 17:13] Tejeev commented on #6
I was also creating individual inboxes for different projects, but it's not right to add new files to the plugin for each new Project category or inbox for said cat.  Think it would be better to break project/inbox sets out to be generated much like individual projects are tiddlers. Not sure if that makes sense

[2020-12-17 17:21] Tejeev commented on #6
Optimally I would be able to drag and drop from the inbox into projects and then later in each project, drag and drop from their own inbox into their sub projects

[2020-12-17 19:42] NicolasPetton commented on #6
@Tejeev thanks for the post. Would you mind moving your ideas to the discussion tabs here https://github.com/NicolasPetton/Projectify/discussions? I think it would help keep the GitHub project clean.

[2020-12-17 23:45] Tejeev commented on #6
I've not the permissions to do so but I'm happy to move this there.  Sorry I'm used to using issues for RFEs even when they are larger and might need some back and forth.

[2020-12-18 00:03] Tejeev commented on #6
I think this could be better thought out in the request anyway, so I'll close the issue and manually rewrite something for discussion.  Thank you @NicolasPetton

[2020-12-18 00:03] #6 closed

[2020-12-24 12:43] dixonge opened #12 "Items scheduled for today show yesterday's date"
Every item I schedule (using the date picker calendar) is assigned to the previous day.

When I edit an entry, the 'due:' field shows today's date like this ```20201224000000000```

But the text associated with it says it is overdue, because it is assigned to the day *before* the date shown above. (i.e., Dec. 23)

This happens on every item I have tried to schedule. It is the same in my browser (F

[2020-12-24 13:29] NicolasPetton commented on #12
I cannot reproduce it locally. Could you upload a minimal wiki here so I can reproduce the issue?

[2020-12-24 13:31] NicolasPetton commented on #12
@dixonge could it be a timezone issue?

[2020-12-24 13:40] dixonge commented on #12
I thought about that. I am running it locally on my laptop. My system time matches actual time in this time zone, and I'm not sure where else Projectify would look for any other time, so ... ?

Using kixam's datepicker v0.5.2 - I guess your plugin gets the date from that one?

[2020-12-24 13:50] dixonge commented on #12
FYI, just downloaded a preconfigured version from your demo page - same result.

[2020-12-24 15:18] saqimtiaz commented on #12
@NicolasPetton I think this is the underlying issue: https://github.com/Jermolene/TiddlyWiki5/issues/2061

[2020-12-24 15:26] dixonge commented on #12
@saqimtiaz thanks!

In looking at the timestamp coming from datepicker/moments, it has the date but no time. I'm guessing TW interprets this as midnight, which is being set to the day before instead of the day of. If I manually change ```20201224000000000``` to ```20201224100000000``` then the scheduled date shifts to today and all is well.

So fixing the plugin to do that is now the trick...

[2020-12-28 23:42] NicolasPetton commented on #12
Redoing the date picker is next on my list, I'll see if I can find a fix as well.

@dixonge could you tell me what timezone you're in to help me debug the issue?

[2020-12-29 11:01] dixonge commented on #12
Central

[2021-01-05 20:34] NicolasPetton commented on #12
@dixonge I believe the bug should be fixed in master, see commit 903aadc.

[2021-01-05 20:34] #12 closed

[2021-01-05 22:01] arunnbabu81 opened #14 "Repositioning of datepicker pop up"
When i installed projectify 0.8 in Krystal based TW (which has horizontally arranged tiddler), the date picker pop up is overlapping the right margin of the projects tiddler and is getting partly hidden. I have to scroll to the right to fully reveal the date picker pop up. I have attached a demo in this attached file. This behavior was not seen in any other story views. The previous version of pro

[2021-01-05 22:59] dixonge commented on #12
0.8.0 is working, merci!

[2021-01-06 08:08] NicolasPetton commented on #14
Thanks for reporting the issue @arunnbabu81. The bug is fixed in master, commit df838bc.

[2021-01-06 08:08] #14 closed

[2021-01-08 08:18] NicolasPetton opened #17 "Missing caption in ToggleTodo toolbar button"
From https://github.com/NicolasPetton/Projectify/discussions/16 by @danraymond

---

Could you please add "{{$:/plugins/nico/projectify/images/checkbox}} Projectify Check Box Toggle" or similar as a caption in the "$:/plugins/nico/projectify/ui/buttons/ToggleTodo" tiddler so its recognisable in the Control Panel's View Toolbar settings, otherwise its just a blank hyphen.

Thanks

_Originally poste

[2021-01-08 08:20] #17 closed

[2021-01-08 13:22] arunnbabu81 commented on #14
i was not able to change the month and year using the month and year selector in the date picker tool. I was trying it in my windows 10  laptop in chrome and edge browser. On clicking the month and year selector of the date picker tool, a vertical list of months and years will pop up which will disappear suddenly without allowing to select  the month or the year.

[2021-01-08 15:25] NicolasPetton commented on #14
@arunnbabu81 Thanks, that's definitely a bug.

As a workaround, have you tried a long click?

[2021-01-08 16:37] arunnbabu81 commented on #14
Ya...on long press the pop up list stays instead of disappearing and then I could use “up and down arrow keys” to select the month or year.

[2021-01-08 17:23] NicolasPetton commented on #14
It's fixed in master (commit 26e8b2d).

[2021-01-08 20:42] arunnbabu81 commented on #14
Both the bugs are fixed in the 0.9 version. Thanks for the update

[2021-01-08 21:25] NicolasPetton commented on #14
You're welcome, thanks for reporting them :)

[2021-01-09 00:46] danraymond opened #18 "Error in $:/themes/nico/notebook/ui/Sidebar/Sections"
@NicolasPetton the list filter contains the word "daft" of instead of "draft" of:

<$list filter="[all[shadows+tiddlers]!has[daft.of]tag[$:/themes/nico/notebook/tags/SidebarSection]]">
  {{||$:/themes/nico/notebook/ui/Sidebar/SectionTemplate}}
</$list>

[2021-01-09 09:15] NicolasPetton commented on #18
Thanks, I'll move the ticket to the notebook project.

[2021-01-09 11:04] NicolasPetton commented on #18
I moved it to https://github.com/NicolasPetton/Notebook/issues/18

[2021-01-09 11:04] #18 closed

[2021-01-11 09:55] ludwa6 opened #21 "Due date assignment wrong"
As described in [this TW Users group thread](https://groups.google.com/u/1/g/tiddlywiki/c/D0iGR1pAyeQ), having just yesterday installed Projectify v0.9 and scheduled my first couple of ToDo items using the "Tomorrow" button, i was surprised this morning (i.e. "tomorrow" :-) to find that these two ToDos were red-flagged as 42 days overdue... And even more surprised after a couple hours work on othe

[2021-01-11 11:43] arunnbabu81 commented on #14
The date picker in mobile ( both android and iOS) is showing the the short form of a day with its expansion in bracket

like this Mon (Monday) Tue (Tuesday) and so on. This makes the calendar to look little stretched out in mobile.

Is it an expected behavior

[2021-01-11 12:05] NicolasPetton commented on #14
Can you upload a screenshot?

[2021-01-11 12:08] NicolasPetton commented on #21
Thanks fo reporting this @ludwa6.

If you set them for today, then the due date of `20210110120000000` is expected (The date is set on the day, with the time set to 12:00). They should be marked in the UI as "Today" though, not overdue.

Can you tell me which timezone you're in?

I'm quite concerned by the 42 days shift. Did it disappear without you changing their due date?

[2021-01-11 12:46] arunnbabu81 commented on #14
![Projectify](https://user-images.githubusercontent.com/67494083/104184175-0d6c4300-5439-11eb-8115-4271c0f52d26.png)

[2021-01-11 14:08] NicolasPetton commented on #14
hmm, I can't reproduce it on Andoid, would you mind posting an html wiki here so I can see what's wrong?

[2021-01-11 14:18] ludwa6 commented on #21
I'm in Portugal (WET -same as GMT now), and this is is the 11th of January (2021.01.11), so that datetimestamp set yesterday for "Tomorrow" should have had a 1 for its 8th digit, not a 0.

And to your other Q: yes, the "42 days overdue" warning changed to "21 hours overdue" without my changing anything related to these tiddlers. Of course one can only thing i did *something* to trigger such a chan

[2021-01-11 14:32] NicolasPetton commented on #21
@ludwa6 thanks for the infos.

If you set a due date to tomorrow again, does it appear to work? What about after reloading the browser tab?

[2021-01-11 16:12] ludwa6 commented on #21
OK @NicolasPetton i reset the due date, using "Tomorrow" button, and now it shows 20210112120000000 -even after save and reload of TiddlyDesktop.

So: this issue may have been ephemeral, but i'm gonna lean into Projectify the next few hours, and we'll see if this problem reappears, before calling this issue closed.

[2021-01-11 16:33] NicolasPetton commented on #21
I found out what the problem was, it's a bug in the calendar picker with the keyboard navigation.
I'll push a fix and will release a new version tonight!

[2021-01-11 16:54] arunnbabu81 commented on #14
I am sorry. This must be due to conflicts with one of the plug ins installed in my wiki. I tried to install projectify in an empty wiki with Krystal plug in. In that wiki, the calendar was working fine with iOS (I didn’t checked in android). I will check later what is causing the conflict when I get time. Sorry for the trouble.

[2021-01-11 17:12] #21 closed

[2021-01-11 17:13] NicolasPetton commented on #14
@arunnbabu81 no problem. If you find out which plugin is causing this issue, I can try to find a workaround.

[2021-01-11 17:36] arunnbabu81 commented on #14
I will inform here once I find it. But it may take a few days.

[2021-01-12 17:17] arunnbabu81 commented on #14
I found conflicts with two plug ins when used in **mobile phone**.
 1. Kookma Refnote  plug-in is causing stretching of calendar in datepicker.
 2. Wikilabs Edit tabs plug-in is causing vertical alignment of tabs in dashboard instead of horizontal. When we select one tab, the tabs to the right of it goes into vertical orientation.

I have attached the separate files  for demo.
[demo.zip](https://g

[2021-01-12 17:36] NicolasPetton commented on #14
@arunnbabu81 thanks!

@kookma would you accept a PR fixing the issue in Refnote?

[2021-01-12 17:36] NicolasPetton commented on #14
That's something I can fix in Projectify.

[2021-01-13 03:26] kookma commented on #14
@NicolasPetton - Sure I will look at Refnote. By the way a rewrite of Refnote is planning for mid Feb.

[2021-01-13 10:25] NicolasPetton commented on #14
@arunnbabu81 the bug with the WikiLabs Edit tab plugin is fixed in 40aaf677c16b202f546dd71819e7e92d540478cc.

[2021-01-14 17:45] MeneDev opened #25 "Dedicated shadow tiddler for titles"
Hi, I really like projectify so far! I was thinking about using it with streams, however streams auto-generates titles. It's not a big deal to override projectify's shadow tiddlers, but it's a small change in two relatively large files and the change is likely to collide with future updates.

For example, this is how I changed my `$:/plugins/nico/projectify/ui/todo/TodoItem`
[code]

Thus it would

[2021-01-14 19:42] NicolasPetton commented on #25
@MeneDev thanks for the suggestion.

What other tiddler did you change in Projectify for this to work?

[2021-01-14 19:49] saqimtiaz commented on #25
@MeneDev I would be curious to see what the integration looks like if you could post a demo.

It would be nice to add keyboard shortcut support directly to Projectify. I'm pretty busy for the near future but might do a PR for it at some point if @NicolasPetton doesn't beat me to it.

[2021-01-14 20:23] NicolasPetton commented on #25
@saqimtiaz I'd definitely love to have keyboard shortcuts in Projectify! I spend most of my time within Emacs, so that's something I really miss in Projectify currently.

[2021-01-14 20:31] MeneDev commented on #25
I also changed `$:/plugins/nico/projectify/ui/buttons/Scheduled`

[code]

I don't have a demo, I just add a todo tag and that's all for now. I't also need something like a "tag propagation" for streams to keep the project relation, but that's another story.

[2021-01-14 20:33] saqimtiaz commented on #25
I've got something like that in mind @MeneDev

@NicolasPetton I'm expecting Jan + Feb to be really busy but could hopefully make a PR for it after that, if it is still relevant at that time.

[2021-01-14 20:42] NicolasPetton commented on #25
That'd be awesome, thanks a lot! Could we have a quick discussion about the keyboard shortcuts before you start working on this?

[2021-01-14 20:43] NicolasPetton commented on #25
@MeneDev could you try the latest commit on master (61a96fa)? I've added an indirection for rendering todo items with the tiddler `$:/plugins/nico/projectify/ui/todo/TodoCaption`.

[2021-01-14 20:44] saqimtiaz commented on #25
@NicolasPetton yep, I'll get in touch before I dive in. If you have any thoughts on what you want keyboard shortcuts for, feel free to document that in the meantime. My direct inspiration is Todoist and the affordance for moving between list items and indenting/unindenting.

[2021-01-14 20:46] NicolasPetton commented on #25
You know Todoist better than I do, so I'll let you go ahead with your ideas. Just note that there's no "indenting" in Projectify (however there is a concept of sub-projects).

[2021-01-14 20:47] #25 closed

[2021-01-14 20:47] MeneDev commented on #25
That was quick, awesome! I'll check it out tomorrow (13h or more I guess).

[2021-01-14 20:48] saqimtiaz commented on #25
@NicolasPetton my apologies, I am tired and not being specific. By indenting I do indeed mean: "Make a subproject/task of the task above". I'll see how that best maps on to Projectify.

[2021-01-15 08:58] MeneDev commented on #25
Just tried it and can confirm that it works like a charm!

[2021-01-20 21:23] silvyn opened #27 "Hide quick capture title ? (enhancement)"
Hi Nicolas,

I could see the somewhat barbaric title being masked regarding the quick capture tiddler with this CSS example :

[code]

I see by testing that it retains the icon, which is pretty cool.

<img width="994" alt="Capture d’écran 2021-01-20 à 22 22 43" src="https://user-images.githubusercontent.com/9981592/105241551-1e6e3000-5b6e-11eb-9840-d25270408f95.png">

[2021-01-20 21:28] silvyn opened #28 "French translation missing string"
Hello,

Notice this few missing string :

<img width="296" alt="Capture d’écran 2021-01-20 à 21 40 01" src="https://user-images.githubusercontent.com/9981592/105242454-61300800-5b6e-11eb-8662-780d01fb20a6.png">

* Title tag hover

<img width="511" alt="Capture d’écran 2021-01-20 à 21 40 40" src="https://user-images.githubusercontent.com/9981592/105242716-84f34e00-5b6e-11eb-90a6-cb723ddac37f.pn

[2021-01-20 22:00] silvyn commented on #28
Définir **la** catégorie :

<img width="356" alt="Capture d’écran 2021-01-20 à 22 59 48" src="https://user-images.githubusercontent.com/9981592/105246250-42804000-5b73-11eb-9648-93be388c4db7.png">

[2021-01-20 22:08] silvyn commented on #28
Found some of them in index.multids, just edit with GitHub :)

[2021-01-21 12:40] NicolasPetton commented on #28
I saw that, thanks for the PR!

[2021-01-21 17:20] #27 closed

[2021-01-21 17:33] #28 closed

[2021-01-24 19:01] sarna opened #31 "Recurring task support"
Hi!

I love Projectify! I've been successfully using it to manage my various projects and tasks at work, it works great. Big thanks for creating it :)

However, I tried using it for stuff at home and I noticed that I have a lot of recurring tasks (like watering the plants, cleaning, calling grandma). Are there any plans for supporting this kind of tasks? Or maybe I missed something and it's alread

[2021-01-24 20:47] NicolasPetton commented on #31
There's no support for recurring tasks yet, but it's definitely on the roadmap (and should land soon, it's a feature that has been requested several times).

[2021-01-24 20:51] sarna commented on #31
Thanks for the response!

I see, feel free to close this issue whenever you think is appropriate :)

[2021-01-26 14:47] pmario opened #32 "I can help you, to make your project easier to handle."
Hi Nicolas,
I do like your project.

Your directory structure is almost there, to make it easy to maintain AND fit the TW rules. I can help you if you want.

I'm maintaining https://github.com/wikilabs, which uses a different approach, but that doesn't really matter.

In https://github.com/wikilabs/editions/tree/master/wikilabs-ghub.io-server you can see a `bin` directory and a https://github.com/

[2021-01-26 16:58] NicolasPetton commented on #32
@pmario thanks for taking the time to look into the project structure!

I'm not using GitHub pages (or GitHub actions for that matter), and I usually try not to depend on GitHub too much. The project is actually hosted on my own Gitea instance at https://gitea.petton.fr/nico/Projectify but because of the community, it is synced to this GitHub repo.

For CI/CD, I'm using a drone instance hosted at

[2021-01-26 19:27] NicolasPetton commented on #32
Hmm, I'm actually not sure I want to do this.

As far as I can see from `boot.js`, TiddlyWiki will try to load plugins from the `plugins` as a flat list of directories. I might be missing something though, but unless I do, I'd rather stick to the current directory structure rather than having to set `TIDDLYWIKI_PLUGIN_PATH` in my build scripts.

Maybe that's why @saqimtiaz used the same structure

[2021-01-27 04:29] streaml1ne555 opened #36 "Strange Click Behavior"
I followed the installation guide to add Projectify to my TW but I'm seeing some strange click behavior on tasks. First the layout looks incorrect with the checkbox, task description, and click and drag anchor on separate lines.

![projectify_formatting_issue](https://user-images.githubusercontent.com/9360873/105941860-596bda00-602c-11eb-86df-20d7d983169f.png)

Secondly if I click anywhere in the

[2021-01-27 08:06] NicolasPetton commented on #36
Hi! Unfortunately the Tekan plugin applies some styles on all elements of the page, without any scoping, which can impact other plugins negatively.

I could try to add hacks to Projectify to counteract the problem, but it would be hard to guarantee that everything would work.

[2021-01-27 21:02] streaml1ne555 commented on #36
I guess we can close this then, hacky fixes are no good and after using Projectify more I'm thinking I can probably get rid of Tekan and adapt to Projectify fully. Will open a new issue with some simple feature requests soon.

[2021-01-27 21:02] #36 closed

[2021-01-27 21:08] NicolasPetton commented on #36
BTW, I'm planning to add support for kanban boards down the road, similar to what todoist has.

[2021-01-27 21:10] streaml1ne555 opened #37 "[enhancement] Setting to show completed tasks by default."
In a task with subtasks there is an option to show completed subtasks. Would it be possible to either remember the setting to show/hide per task or make a global setting to expand the completed task/subtask list by default?

[2021-01-27 21:11] DeRuiterIndustrieleAutomatisering opened #38 "Changelog not found"
The link to the change log (in readme.md) (https://projectify.wiki/#%24%3A%2Fplugins%2Fnico%2Fprojectify%2Fchangelog) doesn't show the change log

[2021-01-27 21:14] streaml1ne555 commented on #37
Hmm looks like it's saving the view choice (it didn't appear to the first time I tested it). So I guess just an option to show completed tasks by default would be nice.

[2021-01-28 01:16] diego898 opened #39 "Bug?: Clicking the "todo content" button marks it as done"
As the title says, when I click the todo content button (the little paper), it seems to mark the todo
![Kapture 2021-01-27 at 19 15 47](https://user-images.githubusercontent.com/742407/106075869-15341480-60d4-11eb-8a6e-bec480b33bda.gif)
 complete

[2021-01-28 04:08] #32 closed

[2021-01-28 04:11] pmario opened #40 "New icon indicator in todo-lists for tasks that have content - click causes done"
If I create a task, with subtasks, and then **click the circle** it activates the "done" action.

Thats probably not intended. I'd expect it to open the tiddler.

[2021-01-28 08:14] NicolasPetton commented on #40
Hi Mario! Yes, that's definitely a bug, thanks for reporting it.

[2021-01-28 17:02] #38 closed

[2021-01-28 17:05] #40 closed

[2021-01-28 17:06] NicolasPetton commented on #39
hi @diego898, thanks for reporting this.

The bug was also reported in #40 and fixed in 5755764.

I'll make a patch release soon that will include this fix.

[2021-01-28 17:06] #39 closed

[2021-01-28 17:07] NicolasPetton commented on #37
Good idea, I'll make that customizable in the control panel.

[2021-01-28 19:47] ndarilek opened #41 "Website is slow or non-functional"
If I click just about any link off of projectify.wiki--Documentation, for instance--my browser hangs and the page never loads.

I think I recently saw speculation that maybe GH Pages has issues with large HTML files? Wondering if anyone else has experienced this, and if it might be worth migrating to something like Netlify which also has a free tier?

Thanks.

[2021-01-28 20:06] NicolasPetton commented on #41
Hi @ndarilek!

I'm not hosting the website on GitHub Pages. Could it have a been a temporary network issue? Are you able to reach https://projectify.wiki/demo.html now for example?

[2021-01-28 21:54] ndarilek commented on #41
Hmm, OK, just seems to be super slow. I'm downloading the demo with wget
and getting 18 KB/Sec. This is on an otherwise fast, unsaturated connection.

Maybe this shouldn't be an issue, and if so then I apologize for opening
it. But I've been trying to access the demo for days now, and thought I
saw someone else having issues on Discord recently. I'll open the file
manually once I've downloaded it.

[2021-01-28 22:24] NicolasPetton commented on #41
I've tried from 2 locations (France and the Netherlands), and the download speeds are fine for me.
Could you tell me if other websites hosted on the same network are slow as well, like https://emacs.cafe?

If you could paste the output of a traceroute, that could help as well.

[2021-01-28 22:26] NicolasPetton commented on #41
Do you know where on Discord? Would you have a link?

[2021-01-28 22:36] ndarilek commented on #41
I'll test your other sites a bit later, but here is a link to the person
who I think may have been having issues:
https://discord.com/channels/531220230790447154/531221592391417856/801497826612740117
They were talking about Projectify a couple messages above that, so I
assume they're having the same issue I am, though mobile was also mentioned.

Thanks.

[2021-01-28 22:46] NicolasPetton commented on #41
Thanks for the link to the Discord discussion. I might move the website to another host until I figure out the problem.

[2021-01-29 19:55] pmario opened #43 "Demo page, starts to load slow for me."
I have to say, I don't have the best download speed, but the demo needs about 3.6 seconds, to show something.

see:

![grafik](https://user-images.githubusercontent.com/374655/106318629-7db7f880-6270-11eb-90a4-155a6c2c39c1.png)

The first thing I thought: ... Is it possible to tell the server, that it should use "server side compression"?

The other things are:

 - Why do you include _all_ **disab

[2021-01-29 20:05] NicolasPetton commented on #43
I thought it was using gzip compression, I'll double-check.

They're fully working, since they're defined (for now) as regular plugins. Only one can be enabled at the same time though.
I could remove them from the demo page though :+1:.

Good catch, that's a leftover :-)

[2021-01-29 20:09] lfilho commented on #41
Hi Nicolas. First of all thanks for your work :).

Same problem here. That emacs.care website did load normally for me (couple of seconds) but https://projectify.wiki/demo.html  took almost 3 minutes to load:

![image](https://user-images.githubusercontent.com/282756/106322163-4292d680-622a-11eb-89a4-18d2b8b9a8ee.png)

All network stuff was fast as expected, it seems the problem was with the downl

[2021-01-29 20:17] NicolasPetton commented on #43
Having the language plugins on the demo page (that also serves as installation instructions) makes it easier to newcomers to install the language plugin of their choice. Removing them only gets the HTML page from 2.9MB down to 2.8MB, so I'll keep them, at least for now.

[2021-01-29 20:18] NicolasPetton commented on #43
I got it to 2.9MB. The empty edition from tiddlywiki.com is already 2.4MB, so I don't think this is too bad.

[2021-01-29 20:30] NicolasPetton commented on #41
@ndarilek @lfilho I've moved the website to another machine (DNS propagation might take a while).
Could you confirm that the download speed issue is fixed?

Thanks,
Nico

[2021-01-29 20:38] NicolasPetton commented on #43
@pmario I've several reports of atrocious download times, so although I could not reproduce it myself, I've moved the website to another machine.

I also removed the highlight plugin from all editions in 6d96f47.

[2021-01-30 00:47] lfilho commented on #41
Nice. It has loaded in 8s for me. Still a bit slow but if you're still serving it from France I guess that would make sense (I'm in west coast Canada). How about putting it behind a CDN? If you host it in Github Pages you get theirs for free IIRC ;-)

[2021-01-30 04:12] pmario commented on #43
Yea,  I know, that TW5 is much bigger than TWclassic (400kByte). ... The new master branch has the possibility to "uglify" the core code and all the plugins. ... IMO it would be worth a try, to release "user editions" as small as possible.

Just an idea.

[2021-01-30 04:13] pmario commented on #43
I did also have a closer look at the SVGs, that are used. Some of them can be optimized and the size can be reduced by about 50%. .. Some of them .. Do you know: https://jakearchibald.github.io/svgomg/ ?

[2021-01-30 10:01] NicolasPetton commented on #43
I'd uglify the source code by default only if that's absolutely necessary, as a lot of the hackability of TiddlyWiki is then lost. Giving the user the choice would be great though.

I've enabled gzip compression, which reduced the transfer to 620KB.

[2021-01-30 10:06] NicolasPetton commented on #41
That's indeed tempting, but I usually try to avoid being too dependent on GH's infrastucture.

[2021-01-30 16:36] pmario commented on #43
It may be possible with the node-server TW 5.1.24 ... But I didn't test it.

I'm down to less than a second now! .. NICE!

[2021-01-30 16:37] #43 closed

[2021-01-31 20:32] #37 closed

[2021-01-31 20:39] NicolasPetton commented on #41
@ndarilek @lfilho I think we can close this one now. If it's still an issue for you, feel free to reopen it!

[2021-01-31 20:39] #41 closed

[2021-01-31 21:53] gregorfischer opened #45 "In ToDoActions move "Convert to Project" further down"
The menu-item **Convert to Project** for a _todo_ is an action, which will probably be used much less then adding a date or setting the priority. Therefore the menu-item should not be the topmost, but further down.

(UI Enhancement)

[2021-01-31 22:05] gregorfischer opened #46 "Edit todo in place"
While a _todo_ can quickly be added and organized, modifying requires multiple clicks and feels "heavy".

It would be nice to be able to modify a _todo_ (title) right in place within a todo-list. Tried myself, but could only get a button with a popup to work to some extend. Inline edition e.g. on double-click would feel more "natural".

From my perspective this could be a real "time-saver".

(Enha

[2021-01-31 22:17] gregorfischer opened #47 "Auto-Linked CamelCaseWords have unexpected linebreaks in "Upcoming"-Dropdown"
![image](https://user-images.githubusercontent.com/2832202/106399576-c6f77c00-6419-11eb-8f30-a38678f7f2af.png)
As seen in `demo`.

[2021-01-31 22:24] gregorfischer opened #48 "Upcoming-Dropdown opens to the right, outside window"
If the Window does not have lots of whitespace on the right, the upcoming dropdown open outside the window (an is therefore partially hidden).

The dropdown should open to the left if there is not enough space. Or it could open to the left in general, because the button is on the far right anyway.

![image](https://user-images.githubusercontent.com/2832202/106399802-2bffa180-641b-11eb-9ff5-35e5b84

[2021-02-01 04:06] diego898 opened #49 "possible bug? filtering todos"
Tying in "this is a test" in the filter tab has the following effect:

This is a weird corner case, as TW filtering also creates 4 matches, but this tiddler shows them as todos with content. Clicking the content field marks it done (related to a previously reported/fixed bug).

Question: Is this the function of the filter tab the same as TW default filtering search?

<img width="689" alt="image" s

[2021-02-01 12:25] NicolasPetton commented on #47
Thanks for reporting this.

[2021-02-01 12:33] NicolasPetton commented on #49
Good catch, thanks!

It's using a subfilter, but it is indeed very similar. I'll see if I can find a fix for it.

[2021-02-01 14:21] saqimtiaz commented on #49
`[subfilter<todoFilter>tag[todo]sort[title]]`

[2021-02-01 14:51] NicolasPetton commented on #49
@saqimtiaz Of course, the subfilter is in the wrong place! Thanks!

[2021-02-01 17:10] #47 closed

[2021-02-01 17:10] #48 closed

[2021-02-01 17:10] #49 closed

[2021-02-01 17:14] #45 closed

[2021-02-04 04:48] diego898 opened #54 "Sub-project clarification"
Hey Nico!

Im a bit confused about a SubProject. There is reference to a SubProject tag, but the demo doesnt have any, and it seems the only way to make one is to manually add that tag.

Also, dragging a project card into another does not create this tag, but tags one project with the other (does this make it a sub project?)

Projects with a SubProject tag no longer appear in the Dashboard .

The

[2021-02-04 08:55] NicolasPetton commented on #54
Hi Diego,

From a todo, you can either:
* convert that todo into a project:
![2021-02-04-095149](https://user-images.githubusercontent.com/123539/106868144-b885ba80-66ce-11eb-83fe-c0f181e1313c.png)
* Add sub-tasks to that todo (this will keep it as a todo in its current project, but you will be able to add tasks to it):
![2021-02-04-095158](https://user-images.githubusercontent.com/123539/10686826

[2021-02-16 07:55] wahidmounir opened #55 "Some GTD Feature lacking"
Hello I'm a big fun of GTD and TW5
so when I'm searching some tools to implement GTD I found this plugin
http://gsd5.tiddlyspot.com/

the sad thing about it that is not updated for more then 5 years and it had some issues specially when renaming projects

and recently found your plugin which is active

so I thought why not to suggest if you could import some or all features from this dormant plugi

[2021-02-16 20:39] #54 closed

[2021-02-22 17:28] ramadugu opened #56 "Possibility of Reminders and Sync with Calendars?"
This is a feature request. Is there a possibility to send notifications on the Desktop if we set this up? Also, can we sync the tasks with our Google or Office 365 calendars?

[2021-02-26 17:12] es-kha opened #57 "Issue with horizontal spacing of toogle todo button"
Hello Nicolas,

The "toogle todo" button in tiddler toolbar has different horizontal spacing than other toolbar buttons.

This additional spacing is generated by some carriage return in **$:/plugins/nico/projectify/ui/buttons/ToggleTodo**

I propose the following modification of its content to fix it.
(Other solution may exist using the "\whitespace" pragma but I did not manage to get expected res

[2021-02-26 17:18] es-kha opened #58 "[Idea] Toogle todo button could also turn not a todo tiddler into a todo"
Hello Nicolas,

For non todo tiddler the "Toogle todo" button could turn them into a todo (add a todo tag).

The new tiddler "states" triggered by the button would then be:
[code]

I see this as an "irreversible" action (except by manually removing the todo tag).

Best regards,

Eskha

[2021-03-08 14:12] virgil9306 opened #60 "Enhancement - Filter for Today, Upcoming"
Thanks for your work on this project.

So far it is the closest thing to my ideal task manager because it can be combined with the extensibility of Tiddlywiki there are so many possibilities.

I think that it would also be really helpful to have a simple string-based filter (based on fields) for hiding / showing items based on different projects, or date ranges  (not just "Today" and "Upcoming" bu

[2021-03-08 22:59] virgil9306 commented on #60
Moved to https://github.com/NicolasPetton/Projectify/discussions/61

[2021-03-08 22:59] #60 closed

[2021-03-15 19:55] diego898 opened #62 "Default category colors + notebook dark palette"
Hey Nico!

Just a heads-up, the default category colors look a bit strange with the notebook dark palette.

For example:

<img width="347" alt="image" src="https://user-images.githubusercontent.com/742407/111213006-4f7f4580-859e-11eb-8356-08371e5e03ee.png">

Not clear there is an easy fix for this on your end, I know I can just easily change it on mine. Just thought I'd report it just in case.

[2021-03-15 20:19] diego898 opened #63 "[Idea] Make todos in a project sortable as well as draggable."
It would be great if we could maintain our "custom"/draggable ordering, as well as sort by creation/modified/etc. dates.

[2021-03-17 18:58] diego898 opened #64 "[Idea] A "longer" Next tab"
Hello again!

I think it would be great if the "Next" tab showed more than just the top todo, or if this was perhaps configurable to show "top 5 per project" or "all in project", giving you a long view of each project and each todo in each project.

Thanks!

[2021-03-22 12:06] shakeabi opened #65 "[Idea] Preview feature"
Hi,
Love projectify!! Saves my day every day.
Can we have a preview feature? as in when i hover over the project in dashboard it's shows a popup with tasks in it, instead of clicking it? Or is this already there (mightve missed it)

Going through the internet, I found this plugin : [https://tobibeer.github.io/tw5-plugins/#preview](preview plugin), but couldnt get to work with projectify. This migh

[2021-03-24 13:53] diego898 opened #66 "[Idea] Add the EmptyStory to Documentation"
Hello again!

I've recently (re)discovered TW "EmptyStory" setting, and I've placed my Dashboard in there. It's been great! This might be a good tip to include in the documentation!

[2021-03-25 00:33] diego898 commented on #64
For future reference, I solved this by slightly modifying the NEXT tab. I made my own, so as to leave the plugin unmodified. To do this, I made two tiddlers named to fit my wiki and match the plugin (so that I can remember why I did this later)

[code]

This is a copy/paste of the Next tab, where I've only replaced the tempalte used, giving my second tiddler:

[code]

This is a copy/paste of the o

[2021-03-25 00:33] #64 closed

[2021-03-26 18:41] diego898 opened #67 "[Idea]"
Hey Nico! I love this plugin!

It would be great if this plugin detected the EditCompText plugin and defined a completion template for it, allowing you to type in the inbox/quick add:

"Todo text @project" and when you typed the '@' a drop-down would come up allowing you to select a project.

I know this straightforward enough to implement client side, but it might make for a nice integration to i

[2021-03-27 16:12] Telumire commented on #66
Thanks for the tip! Here's the relevant doc for those who didn't know about that (like me): https://tiddlywiki.com/static/HistoryMechanism.html

[2021-04-05 12:19] pmario commented on #66
@NicolasPetton I did a short POC which is attached here: [projectify-backdrop-suggestion.zip](https://github.com/NicolasPetton/Projectify/files/6258063/projectify-backdrop-suggestion.zip)

IMO the "home - button" could be the default. ... And the user can have other options

I did transclude the select-backdrop tiddler to both options, so you can play with it. ... The final version will have a pro

[2021-04-05 12:22] pmario commented on #66
The initial backdrop, could be much simpler. eg:

You did close all UI elements.

 - Do you want to show: The Home Button     or
 - Do you want to show: The Dashboard   as a backdrop here!

There may be an option: Don't show this info again ...

[2021-04-20 18:11] novakda opened #68 "[Feature] Move tasks between projects / return to Inbox button."
When organizing my work, I often need to change which Project a task belongs to.

It would be useful to have a dropdown on a Task which changes the Project it belongs to, as well as a button to return it to the inbox (especially if you've dragged a task from the Inbox to the wrong project).

[2021-04-27 20:15] diego898 opened #69 "[Idea] Move "add task to project" to top of template"
I have a lot of todos in a project and I got tired of scrolling to the bottom to add, so I editted: `$:/plugins/nico/projectify/ui/project/Project` to **move** the `{{||$:/plugins/nico/projectify/ui/forms/ProjectActions}}` line to right **above** the `<h2><<lingo Todos>>` line

I think this might work better for other users as well, so it might be worth adding to the tips/advanced usage doc.

[2021-04-27 20:18] diego898 commented on #68
Idea: this could be addressed by adding a "return to inbox" to the `$:/plugins/nico/projectify/ui/todo/TodoHeading` tiddler. I might try and address this later

[2021-05-04 00:33] diego898 opened #70 "[Idea] "Archive" done tasks"
It would be a great feature to allow you "archive" done tasks - as in, "compress" them all into a bulletted list, or data tiddler, etc. and delete their actual full tiddlers.

I have quite a few ephemeral tiddlers lying around that will never be resurrected, and so don't need to be coming up in searches, tags, etc.

[2021-05-04 02:10] diego898 commented on #70
Here is a simple "Archive" button that places as all todos tagged with done in an Archive tiddler as JSON.

Note: multiple rounds of archiving will just keep appending the export to the bottom, meaning the import process/un-archiving would be more complicated, but this is just a proof of concept

[code]
[code]

[2021-05-05 22:19] pmario commented on #70
Good idea. ... Should it be possible to "resurrect" ToDos from the archive? ... just curious.

[2021-05-05 23:58] diego898 commented on #70
@pmario - definitely. I posted about this on the GG as well.

I think a problem towards un-archiving is:

*  In the proof-of-concept solution I gave above, different archiving batches will just be appended as separate JSON objects, instead of merging everything back into one large JSON object.
* Even if that was solved, actually building the unarchiver is probably beyond my abilities, though it mi

[2021-05-14 15:51] Peckystudios opened #71 "[Feature]Calendar begin with Sunday"
Hi
I really love this tools
Very flexible!
Thanks for sharing

the feature that setting Calendar begin with Sunday will make the experience better and good for different  habits people

Thank you!

[2021-05-20 15:05] ndarilek commented on #41
Not sure if I should open a new issue for this, but projectify.wiki is no longer responding for me.

[2021-05-20 15:54] NicolasPetton commented on #41
@ndarilek My bad, I'm moving the website to GitHub, it should be back up in a couple of hours.

[2021-05-21 02:20] bepuzzled commented on #71
concur; it's easy to change in the javascript code, but ideally pulled out as a configuration item.

set `firstDay:0` in `$:/plugins/nico/projectify/ui/widgets/date-picker.js`

Big fan of projectify!

[2021-05-21 08:11] NicolasPetton commented on #69
@diego898 would you mind posting a screenshot to show what it looks like?

[2021-05-21 08:12] NicolasPetton commented on #67
@diego898 I think it would definitely fit the scope of the project.

[2021-05-21 08:15] NicolasPetton commented on #65
@shakeabi great idea! I'll see if I can integrate the preview plugin you linked.

[2021-05-21 08:18] NicolasPetton commented on #63
@diego898 How would you like it to work?

Today scheduled todos are sorted by due date and listed first, prioritized ones are displayed below, while other todos order will depend on the order the user chooses.

[2021-05-21 08:19] NicolasPetton commented on #62
This has been bugging me for a while, and I'm not sure how to fix it TBH. Any suggestion?

[2021-05-21 08:21] NicolasPetton commented on #56
This is currently not possible, and would probably require a significant amount of work.

One possibly less challenging way of doing this could be to have support for exporting in ics format.

[2021-05-21 10:09] Peckystudios commented on #71
Thank you! It’s work!

[2021-05-21 10:12] Peckystudios commented on #65
Really need this feature!
That will make my note-taking system perfect🥰

Thank you!

[2021-05-21 11:17] NicolasPetton commented on #71
Done in commit 30f8ed0, closing.

[2021-05-21 11:17] #71 closed

[2021-05-21 12:07] ndarilek opened #72 "Add `aria-label` attribute to graphical buttons"
Hey,

I'm a blind TiddlyWiki user trying to use this plugin in a few projects. TiddlyWiki is by and large accessible, and by extension so is Projectify, but there are some buttons that are essentially just `span` tags with no associated text, rather than `button` elements with their associated a11y benefits.

Ideally these could all be `<button/>` but if they can't be, could you please add `aria-l

[2021-05-21 13:13] NicolasPetton commented on #72
Hi @ndarilek, thanks for the suggestion, I will make sure Projectify is more accessible.

[2021-05-21 16:27] diego898 commented on #64
@NicolasPetton - just wanted to draw your attention to this closed list, in case you thought it would be a useful addition to the docs.

[2021-05-21 16:59] diego898 commented on #69
Sure! Here it is just above the "Todo" heading.

<img width="578" alt="image" src="https://user-images.githubusercontent.com/742407/119172735-286c4680-ba1b-11eb-9aea-5803a34ab299.png">

[2021-05-21 19:30] furicle opened #73 "[Idea] Need a waiting on others tab"
I'm a heavy user of ToDoNow but I really like your nice built in calendars and drag and drop reordering.

One concept missing here seems to be a way of identifying things stalled on external input.    I was thinking it could be as simple a new tab for items tagged 'WaitingFor', but it would be nice if you could easily toggle that state.

[2021-05-25 18:06] mwiktowy commented on #68
I wrote some comments and submitted a change to a few macros that possibly address this in some way.

See the message thread here:
[https://groups.google.com/g/tiddlywiki/c/2VHNIaZjU60/m/KjuwZDZTBwAJ](https://groups.google.com/g/tiddlywiki/c/2VHNIaZjU60/m/KjuwZDZTBwAJ)

It is more of a Project merge mechanism and a correction to the current cross-linking behaviour. It is not handling things on a t

[2021-05-26 13:10] mwiktowy opened #74 "Categories with spaces showing up multiple times in ProjectListItem"
When a category has a space in it, it will show up multiple times in each project when they are viewed as a list.

This is due to the category variable name being used as a filter directly in a list widget rather than formatted as a title list in $:/plugins/nico/projectify/ui/dashboard/ProjectListItem

This can be fixed by changing `<<category>>` to `"[<category>]"` ... at least for single title i

[2021-06-03 23:09] bepuzzled opened #75 "typo in naming convention dashboard dashbaord"
minor issue, easy to fix:

![image](https://user-images.githubusercontent.com/17093421/120723155-2e443c00-c49f-11eb-9119-adb6886bc6f6.png)

[2021-06-21 15:04] simonbaird commented on #55
I'm interested in this too.

I think the low hanging fruit would be:
* Being able to categorize or label projects as either "Active" or "Someday/Maybe".
* Being able to categorize or label tasks as "Next", "Waiting" or "Future". In the UI, these could be headings in the todo list similar to "Scheduled" and "Other".
* Being able to add a "context" to tasks from a list of defined contexts.

You coul

[2021-06-30 08:51] davidszerman opened #76 "Possible to be a category AND a project AND a classic tiddler ?"
Hello,

not an issue but a question :

is it possible in projectify to have a slide that have several "objectives"

For example :
- Category : **Computer Sciences**
- Projects : Python, Hardware,... and **Computer Sciences**
- Computer sciences tiddler : to display data as a project or category AND add some description text in the tiddler

Thanks

[2021-09-14 14:13] deshmukhs opened #79 "Unscheduled tasks from all projects"
I will begin with a big thank you for the wonderful plugin.

Just one suggestion, though. If there is an open task in a project, it gets picked up in the dashboard. This is very useful to keep track of things.

But the unscheduled tasks from projects are not accumulated anywhere. This means that one needs to visit every project and look up all such tasks.

Is not there a way by which these tasks w

[2021-10-10 20:21] offray opened #80 "Update to TW 5.2.x"
TiddlyWiki 5.2.x has a lot of important improvements. In particular the possibility to save tiddler data directly inside the tiddler, as discussed [here](https://groups.google.com/g/tiddlywiki/c/kEu10rwnvY0). We are using Projectify for project based learning and would be great to be able to have an "answer" tiddler field where learners add the answer of a particular task in a (sub)project.

I wil